{% extends "robotQCIndex.html" %}
{% block index_header_extra %}
    {% load  kioskApp_tags%}
    {% block TamuzAppTags %}
    {% endblock %}
    <script type="text/javascript">

    </script>
{% endblock %}
{% block breadcrumb %}
    {{ block.super }} &raquo; <a href="/new_user/">הרשמה</a>
{% endblock %}
{% block maincenter%}
    <form enctype="multipart/form-data"  action="" method="post"  >
        <table>{{ form.as_table }}</table>
        <input type="submit" value="Submit" />
    </form>
    {% if  is_post  %}
        <p> {{ message }} </p>
    {% endif %}
    <div>
    </div>
{% endblock %}
