{% extends "robotQCIndex.html" %}
{% block index_header_extra %}
    {% load  kioskApp_tags%}
    {% block TamuzAppTags %}
    {% endblock %}
    <script type="text/javascript">
    dojo.require("dijit.form.NumberTextBox");
    dojo.require("dijit.form.ValidationTextBox");
    dojo.require("dijit.form.Textarea");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.form.Select");
    dojo.require("dojox.form.FileInput");
    dojo.require("dijit.ProgressBar");
    dojo.require("dijit.Dialog");
    dojo.require("dojo.parser");
    </script>
{% endblock %}
{% block breadcrumb %}
    {{ block.super }} &raquo; <a href="/upload_robot_errors/">upload errors file</a>
{% endblock %}
{% load filetransfers %}
{% block maincenter%}
    <form enctype="multipart/form-data"  action="" method="post"  >
     {% csrf_token %}
    {% render_upload_data upload_data %}
        <table>{{ form.as_table }}</table>
        <input type="submit" value="Submit" />
    </form>
    {% if  is_post  %}
        <p> {{ message }} </p>
    {% endif %}
    <div>
    </div>
{% endblock %}
